@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&family=Signika:wght@300&display=swap');

body {
  margin: 0;
  margin-bottom: 125px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Martel Sans', sans-serif;
  font-size: 2rem;
  text-align: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 100px;
  color: #afb6b6;
  font-family: 'Signika', sans-serif;
}

.app-explaination {
  margin-top: -30px;
  margin-bottom: 30px;
  padding: 20px;
}

footer {
  margin: 50px auto auto 10px;
}

h2 {
  color:rgb(59, 60, 65);
  padding: 20px;
  font-size: 40px !important;
}

